:root {
  --background: #fee440;
  --primary: #BF3100;
  --secondary: #FF9F1C;
  --secondary-rgb: rgb(240, 239, 238);
  --tertiary: #2EC4B6;
  --tertiary-rgb: 46, 196, 182;
  --tertiary-light-rgb: rgb(249, 207, 159);
  --tertiary-lighter-rgb: rgb(255, 255, 255);

  --yellow: #ffeead;
  /* --yellow: #fffeae; ticken greller */
  --cyan-light: #c5e7d7;
  --cyan: #88d8b0;
  --red: #ff8b87;
  --red-dark: #ff6f69;

  /** sunflower */
  --sunflower-light: #ffce54;
  --sunflower-dark: #FCBB42;

  /** Color Palette: Venedig */
  --rosa: #f2ad9f;
  --ruby-grapefruit: #F26968;
  --limestone: #dfe2d2;
  --venice: #6cbf84;
  --moss-river: #323339;

  /** LanguagePicker */

  /** DisplayHelloContainer */
  --font-primary: var(--yellow);
  --font-secondary: var(--cyan-light);
  --font-tertiary: var(--cyan);
  --background: var(--red-dark);

  /** LanguagePicker */
  --lp-background: var(--moss-river);
  /* --lp-background: #533557; */
  /* --lp-btn-backgrnd: #ffffffe6; */
  --lp-btn-border: rgba(139, 139, 139, 0.3);
  --lp-btn-color: #adadad;
  --lp-btn-backgrnd: transparent;
  /* --lp-btn-border: rgba(139, 139, 139, 0.7); */
  /* /* --lp-btn-color: #ffffff; */
  --lp-checked-btn-backgrnd: white;
  --lp-checked-btn-border: var(--limestone);
  --lp-checked-btn-color: var(--moss-river);
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  background: var(--background);
}

html, body {
  height: 100%;
  color: var(--primary)
}

#app {
  height: 100%;
  width: 100%;
}